*{
    margin: 0;
    padding: 0;
}
.wrap{
    margin: 15% auto;
     width: 50%;
}
.logo{
    text-align: center;
    padding: 3% 0;
}
.wrapper{
    border: 2px solid black; 
    padding: 20px;
   /* font-family: ; */
   
}
.wrapper p{
    padding-bottom: 20px;
    font-size: 30px;
    
}
.input-wrap{
    /* width: 90%;  */
   margin: auto;
   
}


.inputbar{
    height: 30px;
    display:block;
    width: 95%;

    margin: 20px auto ;
    border: 1px solid black;
}
.inputbar[placeholder]{
  padding: 5px;
}

button{
    padding: 7px;
    color: white;
    background-color: #000;
    border: none;
}
button:hover{
    transition: 0.3s ease;
    color: #000;
    background-color: #e5e5e5;
}
.forgot-password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.error{
    color:red ;
}

@media(max-width:1200px){
    .wrap{
        margin: 30% auto;
         width: 70%;
    }
}